# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# caching
/cache

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/.gitignore
.idea/google-java-format.xml
.idea/modules.xml
.idea/tomodoro.iml
.idea/vcs.xml
.idea/workspace.xml
src/dev-extensions/react-devtools/main.html
src/dev-extensions/react-devtools/manifest.fingerprint
src/dev-extensions/react-devtools/manifest.json
src/dev-extensions/react-devtools/panel.html
src/dev-extensions/react-devtools/_metadata/computed_hashes.json
src/dev-extensions/react-devtools/_metadata/verified_contents.json
src/dev-extensions/react-devtools/build/background.js
src/dev-extensions/react-devtools/build/contentScript.js
src/dev-extensions/react-devtools/build/importFile.worker.worker.js
src/dev-extensions/react-devtools/build/injectGlobalHook.js
src/dev-extensions/react-devtools/build/main.js
src/dev-extensions/react-devtools/build/panel.js
src/dev-extensions/react-devtools/build/parseHookNames.chunk.js
src/dev-extensions/react-devtools/build/parseSourceAndMetadata.worker.worker.js
src/dev-extensions/react-devtools/build/react_devtools_backend.js
src/dev-extensions/react-devtools/build/renderer.js
src/dev-extensions/react-devtools/build/vendors~parseHookNames.chunk.js
src/dev-extensions/react-devtools/icons/16-deadcode.png
src/dev-extensions/react-devtools/icons/16-development.png
src/dev-extensions/react-devtools/icons/16-disabled.png
src/dev-extensions/react-devtools/icons/16-outdated.png
src/dev-extensions/react-devtools/icons/16-production.png
src/dev-extensions/react-devtools/icons/16-restricted.png
src/dev-extensions/react-devtools/icons/16-unminified.png
src/dev-extensions/react-devtools/icons/32-deadcode.png
src/dev-extensions/react-devtools/icons/32-development.png
src/dev-extensions/react-devtools/icons/32-disabled.png
src/dev-extensions/react-devtools/icons/32-outdated.png
src/dev-extensions/react-devtools/icons/32-production.png
src/dev-extensions/react-devtools/icons/32-restricted.png
src/dev-extensions/react-devtools/icons/32-unminified.png
src/dev-extensions/react-devtools/icons/48-deadcode.png
src/dev-extensions/react-devtools/icons/48-development.png
src/dev-extensions/react-devtools/icons/48-disabled.png
src/dev-extensions/react-devtools/icons/48-outdated.png
src/dev-extensions/react-devtools/icons/48-production.png
src/dev-extensions/react-devtools/icons/48-restricted.png
src/dev-extensions/react-devtools/icons/48-unminified.png
src/dev-extensions/react-devtools/icons/128-deadcode.png
src/dev-extensions/react-devtools/icons/128-development.png
src/dev-extensions/react-devtools/icons/128-disabled.png
src/dev-extensions/react-devtools/icons/128-outdated.png
src/dev-extensions/react-devtools/icons/128-production.png
src/dev-extensions/react-devtools/icons/128-restricted.png
src/dev-extensions/react-devtools/icons/128-unminified.png
src/dev-extensions/react-devtools/icons/deadcode.svg
src/dev-extensions/react-devtools/icons/development.svg
src/dev-extensions/react-devtools/icons/disabled.svg
src/dev-extensions/react-devtools/icons/outdated.svg
src/dev-extensions/react-devtools/icons/production.svg
src/dev-extensions/react-devtools/icons/restricted.svg
src/dev-extensions/react-devtools/popups/deadcode.html
src/dev-extensions/react-devtools/popups/development.html
src/dev-extensions/react-devtools/popups/disabled.html
src/dev-extensions/react-devtools/popups/outdated.html
src/dev-extensions/react-devtools/popups/production.html
src/dev-extensions/react-devtools/popups/restricted.html
src/dev-extensions/react-devtools/popups/shared.css
src/dev-extensions/react-devtools/popups/shared.js
src/dev-extensions/react-devtools/popups/unminified.html
